/laravel1/node_modules
/laravel1/public/hot
/laravel1/public/storage
/laravel1/storage/*.key
/laravel1/.idea
/laravel1/.vscode
/laravel1/.vagrant
/laravel1/Homestead.yaml
/laravel1/Homestead.json
/laravel1/npm-debug.log
/laravel1/yarn-error.log
/laravel1/.phpstorm.meta.php
/laravel1/.DS_Store
/laravel1/Thumbs.db
/laravel1/package-lock.json

/laravel2/node_modules
/laravel2/public/hot
/laravel2/public/storage
/laravel2/storage/*.key
/laravel2/.idea
/laravel2/.vscode
/laravel2/.vagrant
/laravel2/Homestead.yaml
/laravel2/Homestead.json
/laravel2/npm-debug.log
/laravel2/yarn-error.log
/laravel2/.phpstorm.meta.php
/laravel2/.DS_Store
/laravel2/Thumbs.db
/laravel2/package-lock.json